.social_logins {
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem;
  gap: 1rem;

  .social_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 3.5rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    border: 0.063rem solid var(--color-jupiter);
    box-shadow: 0px 8px 21px -10px var(--color-jupiter);
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .social_btns:hover {
    box-shadow: 0px 8px 10px 0px var(--color-jupiter);
  }
}
